* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  background: #000;
  padding: 3px;
  width: 100%;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
form button, #r {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#r{
  width: 100%
}
#wrapper{
  display: flex;
  position: relative;
}
#player-panel {
  display: inline-block;
  height: 100%;
  width: 30%;
}
#game-board{
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: green;
}
#messages {
  background: #eee;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #fff;
}
#messages {
  height: 290px;
  width: auto;
  overflow: auto;;
  overflow-wrap: break-word;
}
#player-control{
  width: 100%;
  height: 100px;;
}
